.footer
  .footer__wrapper
    .footer__informations 
      span.footer__copyright=footer.data.copyright 
      span.footer__devby=footer.data.dev_by 

    .footer__mail__wrapper
      span.footer__mail=footer.data.mail

    a.footer_social_link(data-animation="link" href=footer.data.social_media_url target="_blank")
      span=footer.data.social_media_text